html, body {
    height: 100%;
    margin: 0;
}

.backgroundimg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#back1 {
    background: url("/images/games.jpg");
}

#back2 {
    background: url("/images/red.jpg");
    opacity: 0.5;
}
#mainDiv {
    display: inline-grid;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
#rock {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#paper {
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#scissors {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}